<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuiteRegression" parallel="tests" thread-count="5">
	<parameter name="appURL"
		value="https://devclient.bluestrataemr.com/qa2" />
	<parameter name="browserName" value="ie" />
	<parameter name="automationKit" value="selenium" />
	<test name="test">
		<classes>
			<class name="bluestrata.tests.functionaltests.PhysicianPortalTestCases" />
			<class name="bluestrata.tests.functionaltests.FacilityAppTestCases" />
			<class name="bluestrata.tests.functionaltests.ClinicalTestCases" />
			<class name="bluestrata.tests.functionaltests.EmarTestCases" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- SuiteRegression -->